@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik+Bubbles&display=swap");

/* font-family: 'Rubik Bubbles'; font-family: 'Indie Flower'; */

* {
  margin: 0;
  padding: 0;
}


.clearfix::after{content: ""; clear: both; display: block;}
/* -------------------------header---------------------------- */
#header {
  width: 100%;
  height: 325px;
  background-color: #c31e1e;
}

/* header-menu */
.header-menu {
  position: relative;
  text-align: right;
  top: 10px;
}
.header-menu a {
  font-family: "Rubik Bubbles";
  color: #fff;
  text-decoration: none;
  padding: 12px 19px;
  top: 10px;
  right: 10px;
}

/* header-tit */
.header-tit {
  position: relative;
  top: 84px;
  text-align: center;
  font-family: "Rubik Bubbles";
  z-index: 1;
}
.header-tit h1 {
  display: inline-block;
  background-color: red;
  color: #fff;
  /* background-color: blanchedalmond; border-style: dotted;display:inline-block;은 text-align: center;의 영향을 받아서 가운데 맞추려고 준거임 */
}
.header-tit a {
  text-decoration: none;
  display: inline-block;
  background-color: red;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

/* heaer-icon */
.heaer-icon {text-align: center;margin-top: -50px;}
.icon_talk {
  width: 340px;
  height: 240px;
  background-image: url(img/talk.png);
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.icon_ic{margin-top: -40px;}

.ic_melon{width: 50px;height: 50px;background-image: url(img/melon.png);background-size: cover;display: inline-block;margin-right:10px;}
.ic_melon:hover{background-image: url();}
.ic_genie{width: 50px;height: 50px;background-image: url(img/genie.png);background-size: cover;display: inline-block;margin-right:10px;}
.ic_genie:hover{background-image: url();}
.ic_apmusic{width: 50px;height: 50px;background-image: url(img/applemusic.png);background-size: cover;display: inline-block;margin-right:20px;}
.ic_apmusic:hover{background-image: url();}
.ic_bugs{width: 50px;height: 50px;background-image: url(img/bugs.png);background-size: cover;display: inline-block;}
.ic_bugs:hover{background-image: url();}

/* src는 css에서 건들 수 없고 자바스크립트에서 건드려야함 */



/* content */
.content{width: 100%;height: 500px;background-color: pink;}

/* cont_tit */
.cont_tit{/* text-align: center;//여기에 주면 cth2,cti가 가운데 올 줄 알았는데 안오는 이유*/position: relative;background-color: palevioletred;width: 990px;
  margin: 0 auto;}
.cth2{font-family: 'Indie Flower';text-align: center;font-size: 50px;}
.cti-btn{/* font-size: 60px;color: #000;text-decoration: none; display: block; text-align: right;margin-top: -80px;margin-right: 150px; */
  position: absolute;
  background-image: url(img/btn.png);
  right: 0;
  top: 5px;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }

/* content */
#contents{margin: 0 auto;}

/* cont_menu */
.cont-menu{width: 990px;}
.cont-menu ul{}
.cont-menu ul li{list-style: none;}
.cont-menu ul li a{text-decoration: none;}


.ctmu1{position: relative;float: left;}
.ctmu2{float: left;}
.ctmu3{float: left;}











/* .cont_menu{width: 990px;height: 400px;margin: 0 auto;background-color: hsl(95deg 91.47% 30.69% / 33%);border: 2px dashed rgba(232, 253, 130, 0.658)}
.cont_menu h3{color: #6e6814;font-family: 'Indie Flower';text-align: center;}

.ctmu1{float: left;width: 40%;}
.ctmu2{float: left;width: 40%;}
.ctmu3{width: 20%;}

.ctmuh31{width: 40%;}
.ctmuh32{width: 40%;}
.ctmuh33{width: 20%;}

.cont_menu ul{list-style: none;}
.cont_menu ul li{float: left;margin-left: 20px;}

.cont_menu ul li a{text-decoration: none;color: #000;font-family: 'Indie Flower';} */
