@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik+Bubbles&display=swap");

/* font-family: 'Rubik Bubbles'; font-family: 'Indie Flower'; */

* {
  margin: 0;
  padding: 0;
}
/* -------------------------header---------------------------- */
#header {
  width: 100%;
  height: 325px;
  background-color: #c31e1e;
}

/* header-menu */
.header-menu {
  position: relative;
  text-align: right;
  top: 10px;
}
.header-menu a {
  font-family: "Rubik Bubbles";
  color: #fff;
  text-decoration: none;
  padding: 12px 19px;
  top: 10px;
  right: 10px;
}

/* header-tit */
.header-tit {
  position: relative;
  top: 84px;
  text-align: center;
  font-family: "Rubik Bubbles";
  z-index: 1;
}
.header-tit h1 {
  display: inline-block;
  background-color: red;
  color: #fff;
  /* background-color: blanchedalmond; border-style: dotted;display:inline-block;은 text-align: center;의 영향을 받아서 가운데 맞추려고 준거임 */
}
.header-tit a {
  text-decoration: none;
  display: inline-block;
  background-color: red;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

/* heaer-icon */
.heaer-icon {text-align: center;margin-top: -50px;}
.icon_talk {
  width: 340px;
  height: 240px;
  background-image: url(img/talk.png);
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.icon_ic{margin-top: -40px;}

.ic_melon{width: 50px;height: 50px;background-image: url(img/melon.png);background-size: cover;display: inline-block;margin-right:10px;}
.ic_melon:hover{background-image: url();}
.ic_genie{width: 50px;height: 50px;background-image: url(img/genie.png);background-size: cover;display: inline-block;margin-right:10px;}
.ic_genie:hover{background-image: url();}
.ic_apmusic{width: 50px;height: 50px;background-image: url(img/applemusic.png);background-size: cover;display: inline-block;margin-right:20px;}
.ic_apmusic:hover{background-image: url();}
.ic_bugs{width: 50px;height: 50px;background-image: url(img/bugs.png);background-size: cover;display: inline-block;}
.ic_bugs:hover{background-image: url();}

/* src는 css에서 건들 수 없고 자바스크립트에서 건드려야함 */
















/* contents layout */
.cont_nav{background-color: #f6fdff;}
#cont_tit{background-color: #eaf7fd;}
#cont_ban{background-color: #dceff7;}
#cont_cont{background-color: #f6fdff;}

/* container */
.container{width: 990px; margin: 0 auto;}






/* nav */
.nav{
  display: none;
  padding: 30px 0;}
.nav>div{float: left;width: 40%;}
.nav>div.last{width: 20%;}
.nav>div h3{font-size: 18px;
color: #25a2d0; margin-bottom: 4px;
}
.nav>div ol{overflow: hidden;}
.nav>div ol li{float: left; width: 50%;
margin-bottom: 3px;
position: relative;
}
.nav>div ol li::after{content:"";
position: absolute;
left: 0; bottom: 0;
width:0; height: 2px; 
background-color: #25a2d0;
/* transform: scaleX(0);
transform-origin: left top; */
transition: 0.3s;
}
.nav>div ol li:hover::after{
  /* transform: scale(1); */
  width: 100%;
}
.nav>div.last ol li{width: 100%;}
.nav>div ol li a{}

/* tit 나는 퍼블리셔다*/
.tit{position: relative;}
.tit h2{font-size: 40px;
color: #2c94c4;
text-align: center;
font-family: 'Nanum Brush Script', cursive;
padding: 10px 0;
letter-spacing: 2px;/* 자간 */
}
.tit .btn {
  position: absolute;
  right: 0;
  top: 5px;
  width: 60px;
  height: 60px;
  background: url(img/btn.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.tit .btn.on{background: url(img/bugs.png);}
