@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik+Bubbles&display=swap");

/* font-family: 'Rubik Bubbles'; font-family: 'Indie Flower'; */

* {
  margin: 0;
  padding: 0;
}

/* -------------------------header---------------------------- */
#header {
  width: 100%;
  height: 325px;
  background-color: #c31e1e;
}

/* header-menu */
.header-menu {
  position: relative;
  text-align: right;
  top: 10px;
}
.header-menu a {
  font-family: "Rubik Bubbles";
  color: #fff;
  text-decoration: none;
  padding: 12px 19px;
  top: 10px;
  right: 10px;
}

/* header-tit */
.header-tit {
  position: relative;
  top: 84px;
  text-align: center;
  font-family: "Rubik Bubbles";
  z-index: 1;
}
.header-tit h1 {
  display: inline-block;
  background-color: red;
  color: #fff;
  /* background-color: blanchedalmond; border-style: dotted;display:inline-block;은 text-align: center;의 영향을 받아서 가운데 맞추려고 준거임 */
}
.header-tit a {
  text-decoration: none;
  display: inline-block;
  background-color: red;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

/* heaer-icon */
.heaer-icon {
  text-align: center;
}
.icon_talk {
  width: 300px;
  height: 250px;
  margin-top: -24px;
}
.icon_ic {
  margin-top: -140px; /* 이 정도 값 줘서 올리는 거 정상 맞는지*/
}
/* .ic_melon{width: 32px;height: 32px;} */
/* 일단 패스 */
.ic_melon:hover {
  background-image: url(img/bugs.png);
}
.ic_genie:hover {
}
.ic_apmusic:hover {
}
.ic_vibe:hover {
}

/* src는 css에서 건들 수 없고 자바스크립트에서 건드려야함 */
